 /* all the styling property for navigation bar */
 *{
    margin: 0;
    padding: 0;

 }



#navbar-section .navbar-expand-lg .navbar-collapse{
    background: transparent;
    float: right;
}

#navbar-section #navbar-section-logo{
    width: 5%;
}

.collapse navbar-collapse{
    float: right;
}